- var whatPage = "index";

<!DOCTYPE html>
html(lang="en")

    head

        include includes/head.pug
  
    body


        //- Preloader
        div(id="preloader")
            div(class="spinner")


        //- Navbar
        include sections/navbar.pug


        //- Home Page
        div(id="home-page")

                // Header
                header

                    // Hero Slider
                    section(id="home-slider")
                        div(class="container-fluid")
                            div(class="owl-carousel" id="owl-home")
                                div(class="bg-image" style="background-image: url(img/home-slider-img-1.jpg);")
                                div(class="bg-image" style="background-image: url(img/home-slider-img-1.jpg);")
                                div(class="bg-image" style="background-image: url(img/home-slider-img-1.jpg);")
                        

                // Presentation
                section(id="presentation")
                    div(class="container")
                        div(class="row justify-content-center")
                            div(class="col-lg-8")
                                div(class="presentation-wrap")
                                    h1(class="presentation-title") Ceci est une simulation du grand titre
                                    p(class="presentation-text") Ceci est une simulation du sous titre sur deux lignes. Ceci est une simulation du sous titre sur deux lignes 


                // Services
                section(class="section" id="services")
                    div(class="container")
                        div(class="services-wrap text-center")
                            div(class="owl-carousel" id="owl-services")
                                div(class="single-service")
                                    div(class="service-icon")
                                        img(src="img/img1.png" class="img-icon img-fluid")
                                        img(src="img/Forme3.png" class="img-forme img-fluid")
                                    h3(class="service-title") Lorem ipsum
                                    p(class="service-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed libero nisi. Aenean ut dui velit. elementum venenatis gravida id,...
                                div(class="single-service")
                                    div(class="service-icon")
                                        img(src="img/img2.png" class="img-icon img-fluid")
                                        img(src="img/Forme3.png" class="img-forme img-fluid")
                                    h3(class="service-title") Lorem ipsum
                                    p(class="service-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed libero nisi. Aenean ut dui velit. elementum venenatis gravida id,...
                                div(class="single-service")
                                    div(class="service-icon")
                                        img(src="img/img3.png" class="img-icon img-fluid")
                                        img(src="img/Forme3.png" class="img-forme img-fluid")
                                    h3(class="service-title") Lorem ipsum
                                    p(class="service-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed libero nisi. Aenean ut dui velit. elementum venenatis gravida id,...


                // News
                section(class="section bg-light" id="news")
                    div(class="container")
                        div(class="news-wrap")
                            div(class="row grid")
                                div(class="col-lg-4 col-md-6 grid-item")
                                    div(class="single-news v2")
                                        div(class="news-img")
                                            img(src="img/actu6.jpg" class="img-fluid")
                                        div(class="news-content")
                                            div(class="news-tag") Activités
                                            h3(class="news-title") Ceci est une simulation du titre de l'actualité
                                            p(class="news-body") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed libero nisi. Aenean ut dui velit. Duis sapien urna. elementum venenatis gravida id,...
                                            a(href="#" class="news-link") En savoir plus
                                div(class="col-lg-4 col-md-6 grid-item")
                                    div(class="single-news v3")
                                        div(class="news-tag") Services
                                        div(class="owl-carousel" id="news-home")
                                            img(src="img/actu4.jpg" class="img-fluid")
                                            img(src="img/actu4.jpg" class="img-fluid")
                                            img(src="img/actu4.jpg" class="img-fluid")
                                div(class="col-lg-4 col-md-6 grid-item")
                                    div(class="single-news v1")
                                        div(class="news-tag") #NzTransport
                                        h3(class="news-title") Ceci est une simulation du titre de l'actualité
                                        p(class="news-body") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed libero nisi. Aenean ut dui velit. Duis sapien urna. elementum venenatis gravida id,...
                                        a(href="#" class="news-link") En savoir plus
                                div(class="col-lg-4 col-md-6 grid-item")
                                    div(class="single-news v1")
                                        div(class="news-tag") Nos Metiers
                                        h3(class="news-title") La chaine de valeur NZ TRANSPORT
                                        p(class="news-body") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed libero nisi. Aenean ut dui velit. Vestibulum et ligula rutrum.
                                        a(href="#" class="news-link") En savoir plus
                                div(class="col-lg-4 col-md-6 grid-item")
                                    div(class="single-news v4")
                                        div(class="news-tag") Chiffres Clés
                                        h3(class="news-title")
                                            b(class="d-block") 87
                                            span(class="") Millions
                                        p(class="news-body") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed libero nisi. Aenean ut dui velit. Duis sapien urna. elementum venenatis gravida id,...
                                        a(href="#" class="news-link") En savoir plus
                                div(class="col-lg-4 col-md-6 grid-item")
                                    div(class="single-news v2")
                                        div(class="news-img")
                                            img(src="img/actu5.jpg" class="img-fluid")
                                        div(class="news-content")
                                            div(class="news-tag") Emplacement
                                            h3(class="news-title") Ceci est une simulation du titre de l'actualité
                                            p(class="news-body") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed libero nisi. Aenean ut dui velit. Duis sapien urna. elementum venenatis gravida id,...
                                            a(href="#" class="news-link") En savoir plus
                                div(class="col-lg-4 col-md-6 grid-item")
                                    div(class="single-news v5")
                                        div(class="news-tag") Videothéque
                                        div(class="news-play")
                                            a(href="#" class="btn-play")
                                                i(class="fa fa-play")
                                        img(src="img/actu3.jpg" class="img-fluid")
                                div(class="col-lg-4 col-md-6 grid-item")
                                    div(class="single-news v2")
                                        div(class="news-img")
                                            img(src="img/actu2.jpg" class="img-fluid")
                                        div(class="news-content")
                                            div(class="news-tag") Actualités
                                            h3(class="news-title") Ceci est une simulation du titre de l'actualité
                                            p(class="news-body") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed libero nisi. Aenean ut dui velit. Duis sapien urna. elementum venenatis gravida id,...
                                            a(href="#" class="news-link") En savoir plus
                                div(class="col-lg-4 col-md-6 grid-item")
                                    div(class="single-news v1")
                                        div(class="news-tag") Rejougnez-nous
                                        h3(class="news-title") Ceci est une simulation du titre de l'actualité
                                        p(class="news-body") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed libero nisi. Aenean ut dui velit. Duis sapien urna. elementum venenatis gravida id,...
                                        a(href="#" class="news-link") En savoir plus


        // Back To Top    
        a(href="#" class="back-to-top")
            i(class="fa fa-chevron-up")


        //- Footer
        include sections/footer.pug


        // Scripts
        include includes/scripts.pug