/*-------------------------------------------------------*/
/* Home Page
/*-------------------------------------------------------*/
#home-page {

    /* Home Slider */
    #home-slider {
        display: flex!important;
        align-items: center!important;
        background-color: $main-color;
        .bg-image {
            position: relative;
            background-size: cover;
            background-position: center center;
            min-height: 500px;
        }
        .owl-carousel {
            position: relative;
            .owl-nav {
                button {
                    position: absolute;
                    top: calc(50% - 40px);
                    font-size: 30px;
                    width: 43px;
                    height: 80px;
                    background: rgba(0,0,0,0.25);
                    color: #fff;
                    border-radius: 2px;
                    transition: all .5s;
                    i {
                        display: block;
                    }
                    &:hover {
                        background: rgba(0,0,0,.6);
                    }
                    &.owl-prev {
                        left: 10px;
                        i {
                            margin-right: 2px;
                        }
                    }
                    &.owl-next {
                        right: 10px;
                        i {
                            margin-left: 2px;
                        }
                    }
                }
            }
        } 
    }

    /* Presentation */
    #presentation {
        text-align: center;
        background-color: $main-color;
        color: #fff;
        .container {
            border-bottom: 4px solid $main-color2;
        }
        .presentation-wrap {
            padding: 40px 0;
            .presentation-title {
                color: #fff;
                font-size: 26px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 15px;
            }
            .presentation-text {
                color: #fff;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
            }
        }
    }

    /* Services */
    #services {
        .single-service {
            .service-icon {
                margin-bottom: 15px;
                position: relative;
                .img-icon {
                    max-width: 140px;
                    max-height: 140px;
                    display: block;
                    margin: 0 auto;
                    position: absolute;
                    left: calc(50% - 70px);
                    top: calc(50% - 70px);
                }
                .img-forme {
                    max-width: 170px;
                    max-height: 170px;
                    display: block;
                    margin: 0 auto;
                }
            }
            .service-title {
                font-weight: 700;
                font-size: 20px;
                text-transform: uppercase;
            }
            .service-text {
                font-size: 15px;
                line-height: 23px;
            }
        }
        .owl-carousel {
            position: relative;
            .owl-nav {
                display: block !important;
                button {
                    position: absolute;
                    top: calc(50% - 30px);
                    font-size: 60px;
                    color: $main-color;
                    transition: all .5s;
                    i {
                        display: block;
                    }
                    &:hover {
                        color: $main-color2;
                    }
                    &.owl-prev {
                        left: 0;
                    }
                    &.owl-next {
                        right: 0;
                    }
                }
            }
        } 
        
    }

    /* News */
    #news {
       .news-wrap {
            margin-top: -30px;
            .grid {
                &:after {
                    content: '';
                    display: block;
                    clear: both;
                }
            }
           .single-news {
                &.v1 {
                    padding: 50px 30px 30px;
                    background-color: $main-color2;
                    margin-top: 30px;
                    position: relative;
                    .news-tag {
                            background-color: $main-color;
                            color: #fff;
                            padding: 1px 10px;
                            text-transform: uppercase;
                            font-size: 12px;
                            line-height: 20px;
                            font-weight: 700;
                            position: absolute;
                            left: 0;
                            top: 0;
                    }
                    .news-title {
                            font-size: 22px;
                            font-weight: 700;
                            margin-bottom: 15px;
                    }
                    .news-body {
                            margin-bottom: 15px;
                            font-weight: 400;
                            line-height: 23px;
                    }
                    .news-link {
                        font-size: 15px;
                        font-weight: 700;
                        color: $main-color;
                    }
                }
                &.v2 {
                    background-color: $main-color;
                    margin-top: 30px;
                    position: relative;
                    border-bottom: 4px solid $main-color2;
                    .news-tag {
                            background-color: $main-color2;
                            color: $main-color;
                            padding: 1px 10px;
                            text-transform: uppercase;
                            font-size: 12px;
                            line-height: 20px;
                            font-weight: 700;
                            position: absolute;
                            left: 0;
                            top: 0;
                    }
                    .news-content {
                        padding: 25px 25px 30px;
                        .news-title {
                                font-size: 22px;
                                font-weight: 700;
                                margin-bottom: 15px;
                                color: #fff;
                        }
                        .news-body {
                                margin-bottom: 15px;
                                font-weight: 400;
                                line-height: 23px;
                                color: #fff;
                        }
                        .news-link {
                            font-size: 15px;
                            font-weight: 700;
                            color: #fff;
                        }
                    }
                }
                &.v3 {
                    position: relative;
                    margin-top: 30px;
                    .news-tag {
                        background-color: $main-color;
                        color: #fff;
                        padding: 1px 10px;
                        text-transform: uppercase;
                        font-size: 12px;
                        line-height: 20px;
                        font-weight: 700;
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: 1000;
                    }
                    .owl-nav {
                        display: block !important;
                        button {
                            position: absolute;
                            top: calc(50% - 20px);
                            font-size: 40px;
                            color: #fff;
                            transition: all .5s;
                            i {
                                display: block;
                            }
                            &:hover {
                                color: $main-color2;
                            }
                            &.owl-prev {
                                left: 10px;
                            }
                            &.owl-next {
                                right: 10px;
                            }
                        }
                    }
                }
                &.v4 {
                    padding: 50px 30px 30px;
                    background-color: $main-color;
                    margin-top: 30px;
                    position: relative;
                    .news-tag {
                            background-color: $main-color2;
                            color: $main-color;
                            padding: 1px 10px;
                            text-transform: uppercase;
                            font-size: 12px;
                            line-height: 20px;
                            font-weight: 700;
                            position: absolute;
                            left: 0;
                            top: 0;
                    }
                    .news-title {
                            font-size: 22px;
                            font-weight: 700;
                            margin-bottom: 15px;
                            color: $main-color2;
                            margin-top: -10px;
                            b {
                                display: block;
                                font-size: 72px;
                                font-weight: 700;
                            }
                            span {
                                display: block;
                                font-size: 36px;
                                font-weight: 700;
                                text-transform: uppercase;
                            }
                    }
                    .news-body {
                            margin-bottom: 15px;
                            font-weight: 400;
                            line-height: 23px;
                            color: $main-color2;
                    }
                    .news-link {
                        font-size: 15px;
                        font-weight: 700;
                        color: $main-color;
                        color: $main-color2;
                    }
                }
                &.v5 {
                    position: relative;
                    margin-top: 30px;
                    .news-tag {
                        background-color: $main-color;
                        color: #fff;
                        padding: 1px 10px;
                        text-transform: uppercase;
                        font-size: 12px;
                        line-height: 20px;
                        font-weight: 700;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    .news-play {
                        position: absolute;
                        left: calc(50% - 30px);
                        top: calc(50% - 30px);
                        .btn-play {
                            display: block;
                            width: 60px;
                            height: 60px;
                            line-height: 55px;
                            text-align: center;
                            border: 3px solid #fff;
                            border-radius: 50%;
                            color: #fff;
                            font-size: 20px;
                            i {
                                margin-left: 4px;
                            }
                        }
                    }
                }
           }
       }
    }
}


/*-------------------------------------------------------*/
/* Footer
/*-------------------------------------------------------*/
.footer {
    .footer-details {
        padding: 10px 0 45px;
        background-color: $main-color;
        padding-top: -40px;
        border-bottom: 1px solid #4f6965;
        .footer-detail{
            padding-top: 40px;
            h5 {
                color: #fff;
                text-transform: uppercase;
                margin-bottom: 20px;
                font-size: 16px;
            }
            ul {
                margin: 0;
                color: #a5b4cd;
                li {
                    margin-bottom: 5px;
                    a{
                        color: #a5b4cd;
                        font-size: 15px;
                        &:hover,
                        &:focus {
                            color: $main-color2;
                        }
                    }
                }
            }
        }
    }
    .footer-copyright {
        background-color: #23443f;
        padding: 20px 0;
        p {
            margin: 0;
            color: #a5b4cd;
            font-size: 13px;
        }
        .newsletter {
            form {
                .form-group {
                    margin-bottom: 0;
                    float: right;
                    margin-bottom: 20px;
                    text-align: center;
                }
                .form-group{
                    label {
                        font-size: 16px;
                        font-weight: 500;
                        color: #fff;
                        margin-right: 10px !important;
                        display: inline-block;
                    }
                    .form-control {
                        background-color: transparent;
                        border: 1px solid #91a29f;
                        font-size: 13px;
                        max-width: 190px;
                        display: inline-block;
                        color: #fff;
                        &:focus {
                            border-color: $main-color2;
                        }
                    }
                    .btn {
                        background-color: transparent;
                        height: 45px;
                        width: 50px;
                        text-align: center;
                        line-height: 45px;
                        font-size: 18px;
                        padding: 0;
                        border: 1px solid #91a29f;
                        margin-left: 5px;
                        color: #91a29f;
                        display: inline-block;
                        &:hover {
                            background-color: $main-color2;
                            color: #fff;
                            border-color: $main-color2;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 991.98px) {
    .footer {
        .footer-copyright {
            .newsletter {
                form {
                    .form-group {
                        text-align: center;
                        float: none;
                    }
                    label {
                        display: block;
                        margin-bottom: 5px !important;
                    }
                }
            }
            p {
                text-align: center;
            }
        }
    }
}

/*-------------------------------------------------------*/
/* Back To top 
/*-------------------------------------------------------*/
.back-to-top {
    text-align: center;
    position: fixed;
    bottom: 15px;
    right: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    z-index: 10000;
    background-color: darken($main-color2, 3);
    display: none;
    &:hover {
        background-color: darken($main-color2, 8);
    }
    i {
        color: #fff;
        line-height: 40px;
        font-size: 13px;
        display: block;
        transition: all .3s;
    }
}

/*-------------------------------------------------------*/
/* Preloader
/*-------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $main-color;
    z-index: 9999999;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .spinner {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background-color: $main-color2;
        border-radius: 100%;  
        -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
        animation: sk-scaleout 1.0s infinite ease-in-out;
    }
}
@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}
@keyframes sk-scaleout {
    0% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}