/*-------------------------------------------------------*/
/* Shortcodes
/*-------------------------------------------------------*/

/* Buttons */
.btn {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.5s;
  word-spacing: 0.4px;
  color: #fff;
  box-shadow: none !important;
  outline: none !important;
  transition: all 0.5s;
  border: 1px solid;
  background-color: $main-color;
  border-color: $main-color;
  text-transform: capitalize; 
  border-radius: 2px;
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background-color: $main-color2;
    border-color: $main-color2;
    outline: none !important;
  }
  &.btn-outline {
    border: 2px solid $main-color;
    background-color: transparent;
    border-radius: 2px;
    color: $main-color;
    &:hover,
    &:focus,
    &:active {
      color: #000;
      background-color: $main-color;
      border-color: $main-color;
      color: #fff;
    }
  }
  &.btn-link {
    background-color: transparent;
    border-color: transparent;
    color: $text-color;
    &:hover {
      text-decoration: underline !important;
      color: $main-color;
    }
  }
}

/* Form */
.form-group {
  margin-bottom: 15px;
  transition: all 0.5s;
  label {
    font-weight: 700;
    font-size: 14px;
    color: $main-color;
  }
  .form-control {
      box-shadow: none !important;
      height: 45px;
      border: 1px solid #d7d7d7;
      border-radius: 0;
      background-color: #fff;
      color: $main-color;
      &:focus {
        border-color: $main-color2;
      }
  }
  textarea {
    &.form-control {
      height: 190px;
    }
  }
}
::placeholder {
  color: #91a29f !important;
  opacity: 1;
  font-size: 14px;
}