/*-------------------------------------------------------*/
/* Variables
/*-------------------------------------------------------*/

// Colors
$main-color: #274c46;
$main-color2: #fbba00;
$main-hover-color: darken($main-color, 8);
$main-hover-color2: darken($main-color2, 8);

$heading-color: #274c46;
$text-color: #274c46;

// Fonts
$heading-font: 'Montserrat', sans-serif;
$default-font: "Nunito Sans", sans-serif;