// Footer
footer(class="footer")

    div(class="footer-details")
        div(class="container")
            div(class="row")
                div(class="col-lg col-md-4 col-sm-6")
                    div(class="footer-detail")
                        h5 Qui Sommes-Nous?
                        ul(class="list-unstyled")
                            li
                                a(href="#") Présentation
                            li 
                                a(href="#") Missions & valeurs
                            li 
                                a(href="#") Gouvernance & organization
                            li 
                                a(href="#") Ressources humaines
                            li 
                                a(href="#") Publication
                div(class="col-lg col-md-4 col-sm-6")
                    div(class="footer-detail")
                        h5 Nos Projets
                        ul(class="list-unstyled")
                            li
                                a(href="#") Carte interactive

                div(class="col-lg col-md-4 col-sm-6")
                    div(class="footer-detail")
                        h5 Nos Métiers
                        ul(class="list-unstyled")
                            li
                                a(href="#") Metiers & expertises
                            li
                                a(href="#") Modéle intégré

                div(class="col-lg col-md-4 col-sm-6")
                    div(class="footer-detail")
                        h5 Presse
                        ul(class="list-unstyled")
                            li
                                a(href="#") Communiqués de presse
                            li
                                a(href="#") Dossiers de pressse
                            li
                                a(href="#") Revue de presse

                div(class="col-lg col-md-4 col-sm-6")
                    div(class="footer-detail")
                        h5 Contactez-Nous
                        ul(class="list-unstyled")
                            li
                                a(href="#") Demande de sponsoring
                            li
                                a(href="#") Demande de visite de sites
                            li
                                a(href="#") Contact presse
                            li
                                a(href="#") Contact
                            li
                                a(href="#") Recrutement

    div(class="footer-copyright")
        div(class="container")
            div(class="row align-items-center")
                div(class="col-lg-6 order-lg-2")
                    div(class="newsletter")
                        form
                            div(class="form-group mb-lg-0")
                                label(class="my-1 mr-2" for="newsletter") S'inscrire à la newsletter
                                input(type="text" name="newsletter" class="form-control" id="newsletter" placeholder="Votre E-mail ici")
                                button(type="submit" class="btn btn-primary")
                                    i(class="fa fa-long-arrow-right")
                div(class="col-lg-6 order-lg-1")
                    p © 2018 NZ Transport. Tout droits réservé.

                