// Navbar
nav(class="mainmenu")

  div(class="container") 

      div(class="mainmenu-logo")
        a(href="index.html") 
          img(src="img/logo2.png" class="img-fluid")

      button(class="mainmenu-toggler")
        span(class="mainmenu-toggler-icon")
        span(class="mainmenu-toggler-icon")
        span(class="mainmenu-toggler-icon")

      div(class="mainmenu-collapse")
        ul(class="mainmenu-links")

          li(class="active")
            a(href='index.html') Accueil

          li
            a(href='#') Nos Activités

          li
            a(href='#') Services

          li
            a(href='#') Emplacement
          
          li(class="has-children")
            a(href="javascript:void(0)") Contactez-Nous
            ul(class="to-left")
              li
                a(href="#") Nous Rejoindre
              li
                a(href="#") Devis Gratuit

        ul(class="mainmenu-social-links list-inline")

          li(class="list-inline-item")
            a(href="https://www.facebook.com/" target="_blank")
                i(class="fa fa-facebook")

          li(class="list-inline-item")
            a(href="https://www.twitter.com/" target="_blank")
                i(class="fa fa-twitter")

          li(class="list-inline-item")
            a(href="https://www.youtube.com/" target="_blank")
                i(class="fa fa-youtube")
